<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>The following students names are requested by {{ requested_by }}</p>
    <ul>
        {% for name in student_names %}
        {% if name == "Joe" %}
        {% else %}
        <li>{{ name }}</li>
        {% endif %}
        {% endfor %}
    </ul>
</body>
</html>